footer {
  padding: var(--large) var(--very-large);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: var(--mid);
  color: white;
  background-color: var(--Very-Dark-Blue);

  .logo {
    width: 200px;
    color: #fff;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    font-size: 0.8em;
    margin-bottom: var(--small);
    cursor: pointer;
  }

  a {
    color: #fff;
  }

  .resources,
  .company,
  .features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  .socialMedia {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  a:hover,
  li:hover {
    color: var(--Cyan);
    transition: color 0.3s ease-in;
  }
}

@media (max-width: 1000px) {
  .logo {
    width: 150px;
  }

  .socialMedia {
    width: 200px;
    justify-content: space-evenly;

    a {
      margin-left: var(--small);
    }
  }
}

@media (max-width: 820px) {
  footer {
    padding: var(--large) var(--large);
    gap: 15px;

    .logo {
      width: 120px;
    }
  }

  .socialMedia {
    width: 170px;
  }
}

@media (max-width: 650px) {
  footer {
    padding: var(--large) var(--large);
    grid-template-columns: 1fr;

    .logo {
      margin: var(--mid) auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .resources,
    .company,
    .features {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .socialMedia {
      width: 200px;
      align-items: center;
      justify-self: center;
      justify-content: space-between;

      a {
        margin-left: 0;
      }
    }
  }
}
