<footer>
  <div class="logo">
    <img src="../../../assets/images/logo2.svg" alt="Shortly icon" />
  </div>

  <div class="features">
    <h5>Features</h5>
    <ul class="list">
      <li>Link Shortening</li>
      <li>Branded Links</li>
      <li>Analytics</li>
    </ul>
  </div>

  <div class="resources">
    <h5>Resources</h5>
    <ul class="list">
      <li>Blog</li>
      <li>Developers</li>
      <li>Support</li>
    </ul>
  </div>

  <div class="company">
    <h5>Company</h5>
    <ul class="list">
      <li>About</li>
      <li>Our Team</li>
      <li>Careers</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="socialMedia">
    <a href="facebook.com">
      <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
    </a>

    <a href="twitter.com"> <fa-icon [icon]="faTwitter" size="2x"></fa-icon> </a>

    <a href="pinterest.com">
      <fa-icon [icon]="faPinterest" size="2x"></fa-icon>
    </a>

    <a href="instagram.com">
      <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
    </a>
  </div>
</footer>
