#shortify {
  background-image: linear-gradient(#fff 50%, hsl(0, 0%, 90%) 50%);
  padding: calc(var(--large) - 25px) var(--very-large);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-field {
  width: 70%;
  height: calc(var(--larger) + var(--mid));
  padding: var(--large);
  // margin: 0 auto;
  border-radius: var(--subtle-radius);
  background-color: var(--Dark-Violet);
  background-image: url(../../../assets/images/bg-shorten-desktop.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translateY(23%);
    margin-bottom: 10px;

    input {
      width: 80%;
      border-radius: var(--subtle-radius);
      font-size: 1em;
      padding-left: 10px;
    }

    input:focus {
      outline: none;
    }

    button {
      padding: 15px var(--large);
      margin-left: 15px;
      border-radius: var(--subtle-radius);
      font-weight: 700;
    }
  }
}

.result {
  max-width: 804.297px;
  background-color: #fff;
  margin: var(--small) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--very-small) var(--large);
  border-radius: calc(var(--subtle-radius) / 2);

  .touched {
    background-color: hsl(258, 40%, 30%);
    transition: background-color 0.8s ease-in-out;
  }

  .new-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--Cyan);

    button {
      padding-left: var(--small);
      padding-right: var(--small);
      border-radius: calc(var(--subtle-radius) / 2);
      margin-left: var(--small);
    }
  }
}

mat-error {
  margin-left: 10px;
  font-size: 0.8em;
}

@media (max-width: 900px) {
  #shortify {
    padding: var(--larger) var(--large);
  }

  .form-field {
    width: 90%;
    height: calc(var(--very-large) + var(--mid));
    padding: var(--large);
    margin: 0 auto;
    border-radius: var(--subtle-radius);
    background-color: var(--Dark-Violet);
    background-image: url(../../../assets/images/bg-shorten-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(0%);
      margin-bottom: 10px;

      input {
        width: 100%;
        height: var(--large);
        border-radius: var(--subtle-radius);
        padding: 10px 0;
        margin-bottom: var(--small);
      }

      button {
        padding: calc(var(--small) + 5px) var(--mid);
        margin-left: 0px;
        border-radius: var(--subtle-radius);
        font-weight: 700;
        font-size: 1em;
        width: 100%;
      }
    }
  }

  .result {
    max-width: 513px;
    width: 100%;
    height: 170px;
    background-color: #fff;
    margin: var(--small) var(--small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--mid) auto 0;
    padding: var(--very-small) 15px;
    border-radius: calc(var(--subtle-radius) / 2);
    text-align: start;

    .original_link {
      border-bottom: 1px solid var(--Gray);
      border-width: 100%;
      width: 100%;
      line-height: 3em;
    }

    p {
      font-size: 0.8em;
      margin: 10px 0;
    }

    .new-link {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--Cyan);

      p {
        margin-left: 0;
      }

      button {
        width: 100%;
        height: var(--larger);
        padding: 0 20px;
        border-radius: calc(var(--subtle-radius) / 2);
        margin: 10px auto;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 540px) {
  .result {
    max-width: 450px;
  }
}

@media (max-width: 400px) {
  .result {
    max-width: 300px;
  }
}
