<div id="short-container">
  <div id="shortify">
    <div class="form-field">
      <form id="url-Input" (ngSubmit)="onSubmit()">
        <input
          aria-labelledby="url-Input"
          placeholder="  Shorten a link here..."
          [(ngModel)]="url"
          name="url"
          type="text"
          [ngStyle]="{ 'border-color': inputErr }"
        />
        <button aria-label="Shorten Button">Shorten It!</button>
      </form>
      <mat-error [hidden]="!err"><em> Please add a link </em></mat-error>
      <mat-error *ngIf="errMessage">
        <p>
          <em>{{ errMessage }}</em>
        </p>
      </mat-error>
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    </div>
  </div>

  <div class="result" *ngFor="let result of Links; index as i" [@fade]="i">
    <p class="original_link">{{ result.original_link | truncateText: 40 }}</p>

    <div class="new-link">
      <p>{{ result.full_short_link }}</p>
      <button
        [ngClass]="{
          touched: clickedLink?.full_short_link === result.full_short_link
        }"
        [cdkCopyToClipboard]="result.full_short_link"
        (click)="onClick(i)"
      >
        {{
          clickedLink?.full_short_link === result.full_short_link
            ? "Copied!"
            : "Copy"
        }}
      </button>
    </div>
  </div>
</div>
